<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
    <div class="jumbotron">
        <h1><%= title %> Me Page</h1>
        <p>Know more about Me</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="img/profile.jpg" alt="Profile Picture" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h2>Juan Moscoso Lagos</h2>
            <p>
                Hello! My name is Juan Moscoso Lagos and I am passionate about coding and programming in general. I have experience coding thanks to the time I have spent at centennial college. I believe in hard work, excellency, and honesty as core values for a valuable work.
            </p>
            <p>
                I have attached my resume for your reference. Feel free to download and explore it to learn more about my qualifications and professional experience.
            </p>
            <p>
                <a href="img/resume.pdf" target="_blank" style="font-size: larger; color: brown;">Download Resume</a>
            </p>
        </div>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
