<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->

<main class="container">
    <div class="jumbotron">
        <h1><%= title %> Page</h1>
    </div>

    <div class="contact-panel">
        <h2>Contact Information</h2>
        <p>Phone: +1-123-456-7890</p>
        <p>Email: jmoscoso@my.centennialcollege.ca</p>
        <p>Address: 941 Progress Ave, Scarborough, ON M1G 3T8</p>
    </div>

    
   <!-- -->

</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
